<div class="top">
    <div class="left">
    <form>
        <select>
            <option value="1">课程分类</option>
            <option value="2">WEB前端开发</option>
            <option value="3">WEB后端开发</option>
            <option value="4">移动应用开发</option>
            <option value="5">软件测试</option>
            <option value="6">数据库</option>
            <option value="7">基础知识&实用工具</option>
            <option value="8">网络&操作系统</option>
            <option value="8">软件设计&系统架构</option>
            <option value="10">产品设计</option>                                   
        </select>
    </form>
    </div>
    <div class="right">
    <form>
    <select>
            <option value="1">课程体系</option>
            <option value="2">计算机基础技能</option>
            <option value="3">WEB前端工程师</option>
            <option value="4">Android开发工程师</option>
            <option value="5">MySQL数据库工程师</option>
            <option value="6">产品设计</option>
            <option value="7">软件测试工程师</option>                             
    </select>
    </form>
    </div>
</div>